@model R6MIX.Models.Operator

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Operator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpImgLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpImgLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpIconLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpIconLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PshycoPortrait)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PshycoPortrait)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Armor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Armor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbilityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbilityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbilityIcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbilityIcon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbilityTLDR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbilityTLDR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbilityDemoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbilityDemoLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
