@model R6MIX.Models.Operator
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-5">
        <div class="d-flex align-items-center justify-content-start text-center m-0">
            <img src="@Model.OpIconLink" style="height: 80px; width: auto;" />
            <h1 class="text-uppercase font-italic">@Model.Name</h1>
        </div>

        <hr class="m-0 ml-2 mb-3" style="background-color: white; height: 1px;" />

        <div class="pl-2">
            <div class="row">
                <div class="col">
                    <h5>@Html.DisplayNameFor(model => model.OpSide): <img src="@Model.OpSide.Icon" style="height: 30px; width: auto;" /> @Model.OpSide.Name</h5>
                    <h6>@Html.DisplayNameFor(model => model.Origin): @Model.Origin</h6>
                </div>
            </div>
        </div>

        <hr class="m-0 ml-2 mb-3" style="background-color: white; height: 1px;" />

        <div class="pl-2">
            <h5>@Html.DisplayNameFor(model => model.Role):<br> @Model.Role</h5>
        </div>

        <hr class="m-0 ml-2 mb-3" style="background-color: white; height: 1px;" />

        <div class="pl-2">
            <div class="row">
                <div class="col-4">
                    <h5>@Html.DisplayNameFor(model => model.Armor): @Model.Armor</h5>
                </div>
                <div class="col-4">
                    <h5>@Html.DisplayNameFor(model => model.Speed): @Model.Speed</h5>
                </div>
                <div class="col">
                    <h5>@Html.DisplayNameFor(model => model.Difficulty): @Model.Difficulty</h5>
                </div>
            </div>
        </div>

        <hr class="m-0 ml-2 mb-3" style="background-color: white; height: 1px;" />
    </div>
    <div class="col">
        <div class="d-flex align-items-center justify-content-end text-center">
            <img src="@Model.OpImgLink" style="height:500px; width: auto;" />
        </div>
    </div>
</div>

<hr class="m-0 ml-2 mb-3" style="background-color: white; height: 1px;" />

<div class="row">
    <div class="col-5">
        <iframe width="100%" height="280px"
                src="https://www.youtube.com/embed/@Model.AbilityDemoLink"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col">
        <h3>UNIQUE ABILITIES AND PLAYSTYLE</h3>
        <h5 class="enable-new-line">@Model.AbilityTLDR</h5>
    </div>
</div>

<hr class="m-0 ml-2 mb-3" style="background-color: white; height: 1px;" />
<div class="row text-center">
    <div class="col">
        <h1 class="text-center font-italic font-weight-bold">LOADOUT</h1>
    </div>
    <div class="w-100"></div>

    <div class="col">
        <h3>@Model.OpLoadout.PrimaryWeapon</h3>
        <img src="@Model.OpLoadout.PrimaryWeaponImg" />
    </div>

    <div class="col">
        <h3>@Model.OpLoadout.SecondaryWeapon</h3>
        <img src="@Model.OpLoadout.SecondaryWeaponImg" />
    </div>

    <div class="col">
        <h3>@Model.OpLoadout.Gadget</h3>
        <img src="@Model.OpLoadout.GadgetImg" />
    </div>

    <div class="col">
        <h3>@Model.AbilityName</h3>
        <img src="@Model.AbilityIcon" />
    </div>
</div>

<hr class="m-0 ml-2 mb-3" style="background-color: white; height: 1px;" />

<div class="row">
    <div class="col">
        <h3 class=" font-italic font-weight-bold">@Html.DisplayNameFor(model => model.Biography)</h3>
        <h5 class="enable-new-line">@Model.Biography</h5>
        <br>
        <h3 class=" font-italic font-weight-bold">@Html.DisplayNameFor(model => model.PshycoPortrait)</h3>
        <h5 class="enable-new-line">@Model.PshycoPortrait</h5>
    </div>
</div>
<div class="d-flex align-items-center justify-content-end text-center m-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-sm btn-dark mr-3" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a class="btn btn-sm btn-dark" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
