@model IEnumerable<R6MIX.Models.Operator>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpImgLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpIconLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PshycoPortrait)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Armor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbilityIcon)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AbilityTLDR)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AbilityDemoLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.OpImgLink" />
                @Html.DisplayFor(modelItem => item.OpImgLink)
            </td>
            <td>
                <img src="@item.OpIconLink" />
                @Html.DisplayFor(modelItem => item.OpIconLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PshycoPortrait)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Armor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbilityName)
            </td>
            <td>
                <img src="@item.AbilityIcon" />
                @Html.DisplayFor(modelItem => item.AbilityIcon)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AbilityTLDR)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AbilityDemoLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
