@model R6MIX.Models.Loadout

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Loadout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryWeapon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryWeapon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryWeaponImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryWeaponImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryWeapon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryWeapon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryWeaponImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryWeaponImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gadget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gadget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GadgetImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GadgetImg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
